* {
    box-sizing: border-box;
}

body {
    margin: 0
}

header {
    padding: 20px 10px;
}

.container {
    display: flex;
    flex-direction: row;
    height: 700px;
    margin: auto;
}

.container .user-container {
    width: 20%;
    background-color: aqua;
    display: flex;
}

.container .calendar-container {
    width: 80%;
    background-color: aquamarine;
    display: flex;
}

p {
    margin: auto;
}