@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 1px;
}

:root {
    --whitesmoke: whitesmoke;
    --darktheme-black: #747474;
    --lightsteelblue: lightsteelblue;
    --lightsteelgray: lightsteelgray;
    --current-orange: #ccb055;
    --task-grey: #555b6e;
    --event-green: #89b0ae;
    --reminder-light: #bee3db;
    --border-black: black;
}

.light-theme {
    background-color: var(--whitesmoke);
    color: black;
}

.dark-theme {
    background-color: var(--darktheme-black);
    color: white;
}

body {
    margin: 0;
    font-family: 'Ubuntu';
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    height: 80px;
}

.main {
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
}

.past-month-date {
    background-color: var(--lightsteelblue);
    margin: auto;
}

.current-date {
    background-color: var(--current-orange);
    margin: auto;
}

.next-month-date {
    background-color: var(--lightsteelgray);
    margin: auto;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.btn {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: hidden;
    margin: auto;
    border: 1px var(--border-black) solid;
    cursor: pointer;
    display: flex;
}

.btn:hover {
    background-color: var(--task-grey);
    color: white;
}

.btn:focus {
    background-color: var(--task-grey);
    color: white;
}

.btn:active {
    background-color: #1f2127;
    color: white;
}

.btn:disabled {
    background: wheat;
}

.round-btn {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: hidden;
    margin: auto;
    border: 1px var(--border-black) solid;
    cursor: pointer;
    display: flex;
}

.round-btn:hover {
    background-color: var(--task-grey);
    color: white;
}

.round-btn:focus {
    background-color: var(--task-grey);
    color: white;
}

.round-btn:active {
    background-color: #1f2127;
    color: white;
}

.round-btn:disabled {
    background: wheat;
}

.wide-btn {
    border-radius: 20px;
    width: 200px;
    height: 50px;
    border: hidden;
    margin: auto;
    border: 1px var(--border-black) solid;
    cursor: pointer;
    display: flex;
}

.wide-btn:hover {
    background-color: var(--task-grey);
    color: white;
}

.wide-btn:focus {
    background-color: var(--task-grey);
    color: white;
}

.wide-btn:active {
    background-color: #1f2127;
    color: white;
}

.wide-btn:disabled {
    background: wheat;
}

.button-content {
    margin: auto
}

.shadow {
    box-shadow: 3px 3px gray;
}

.header__button-container {
    height: 100%;
    width: 5%;
    display: flex;
}

.header__logo-container {
    height: 100%;
    width: 25%;
    display: flex;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    margin: auto;
}

.header__date-container {
    height: 100%;
    width: 50%;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
}

.header__date-container__month-container {
    margin: auto;
    height: 50px;
    width: 100px;
    display: flex;
    border-radius: 5px;
    border: 1px solid var(--border-black);
    background-color: gainsboro;
    margin: auto;
}

.header__settings-container {
    height: 100%;
    width: 20%;
    display: flex;
}

.header__settings-container .settings {
    margin: auto;
}

.switch {
    margin: auto;
    position: relative;
    display: inline-block;
    width: 92px;
    height: 50px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--darktheme-black);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 42px;
    width: 42px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: white;
}

input:focus+.slider {
    box-shadow: 0 0 1px whitesmoke;
}

input:checked+.slider:before {
    background-color: var(--darktheme-black);
    -webkit-transform: translateX(42px);
    -ms-transform: translateX(42px);
    transform: translateX(42px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.user-container {
    width: 20%;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    border-top: 1px var(--border-black) solid;
}

.user-container__avatar-container {
    margin: auto;
    height: 20%;
    display: flex;
}

.user-container__avatar-container #user-avatar {
    margin: auto;
    width: 100px;
    height: 100px;
    border: 1px var(--border-black) solid;
    background-color: white;
    border-radius: 50%;
}

.user-container__user-challenges-container {
    margin: auto;
    height: 65%;
    width: 100%;
    display: flex;
}

.user-container__user-challenges-container__user-chalenges {
    width: 80%;
    height: 100%;
    padding-bottom: 10px;
    background-color: white;
    border: 1px var(--border-black) solid;
    border-radius: 10px;
    overflow-y: auto;
    margin: auto;
}


.challenge {
    border: 1px var(--border-black) solid;
    width: 95%;
    height: 60px;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    margin-top: 10px;
    display: flex;
}

.challenge__inner {
    margin: auto
}

.task {
    color: white;
    background-color: var(--task-grey);
}

.event {
    background-color: var(--event-green);
}

.reminder {
    background-color: var(--reminder-light);
}

.user-container__button-container {
    margin: auto;
    height: 15%;
    display: flex;
}

.calendar-container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    border: 1px var(--border-black) solid;
}

.calendar-container__days {
    width: 100%;
    height: 100%;
}

.day-names {
    width: 100%;
    height: 7%;
    background-color: wheat;
}

.day-names__day {
    border: 1px var(--border-black) solid;
    width: calc(100% / 7);
    height: 100%;
}

.day-values {
    width: 100%;
    height: 93%;
}

.day-values__week {
    height: 20%;
    width: 100%;
}

.day-values__week__day {
    width: calc(100%/7);
    height: 20%;
    border: 1px var(--border-black) solid;
    cursor: pointer;
}

.day-values__week__day__day-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.day-values__week__day__day-info__day-num {
    height: 15%;
    font-weight: bold;
    font-size: 25px;
}

.day-values__week__day__day-info__day-tasks {
    height: 85%;
    overflow-y: auto;
}

.day-values__week__day__day-info__day-tasks .challenge {
    height: 25px;
}

p {
    margin: auto;
}

@media screen and (max-width: 1200px) {
    .wide-btn {
        width: 100px;
        height: 50px;
    }

    .header__button-container {
        width: 10%;
    }

    .header__logo-container {
        width: 15%;
    }

    .header__date-container {
        width: 40%;
    }

    .header__settings-container {
        width: 35%;
    }
}

@media screen and (max-height: 750px) {
    * {
        font-size: 10px;
    }

    .header {
        height: 55px;
    }

    .main {
        top: 55px;
    }


    .header__date-container__month-container {
        height: 45px;
    }

    .day-values__week__day__day-info__day-tasks {
        width: 90%;
    }

    .btn {
        width: 40px;
        height: 40px;
    }

    .round-btn {
        width: 40px;
        height: 40px;
    }

    .switch {
        width: 72px;
        height: 40px;
    }

    .slider:before {
        height: 32px;
        width: 32px;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(32px);
        -ms-transform: translateX(32px);
        transform: translateX(32px);
    }

    .user-container__avatar-container #user-avatar {
        width: 75px;
        height: 75px;
    }
}

@media screen and (max-width: 750px) {
    * {
        font-size: 10px;
    }

    .header {
        height: 40px;
    }

    .main {
        top: 40px;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header__logo-container {
        display: none;
    }

    .header__date-container__month-container {
        height: 25px;
        width: 75px;
    }

    .btn {
        width: 25px;
        height: 25px;
    }

    .round-btn {
        width: 25px;
        height: 25px;
    }

    .switch {
        width: 42px;
        height: 25px;
    }

    .slider:before {
        height: 17px;
        width: 17px;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(17px);
        -ms-transform: translateX(17px);
        transform: translateX(17px);
    }

    .user-container {
        display: none;
    }

    .calendar-container {
        width: 100%;
    }
}