@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 1px;
}

.light-theme{
    background-color: whitesmoke;
    color: black;
}

.dark-theme{
    background-color: #555b6e;
    color: white;
}

body {
    margin: 0;
    font-family: 'Ubuntu';
}

header {
    height: 10vh;
}

main {
    height: 90vh;
}

.past-month-date {
    background-color: lightsteelblue;
}

.current-date {
    background-color: #ccb055;
}

.next-month-date {
    background-color: lightslategray;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.btn {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: hidden;
    margin: auto;
    border: 1px black solid;
    cursor: pointer;
}

.round-btn {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: hidden;
    margin: auto;
    border: 1px black solid;
    cursor: pointer;
}

.wide-btn {
    border-radius: 20px;
    width: 200px;
    height: 50px;
    border: hidden;
    margin: auto;
    border: 1px black solid;
    cursor: pointer;
}

.shadow {
    box-shadow: 3px 3px gray;
}

.header__button-container {
    height: 100%;
    width: 5%;
    display: flex;
}

.header__logo-container {
    height: 100%;
    width: 25%;
    display: flex;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    margin: auto;
}

.header__date-container {
    height: 100%;
    width: 50%;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
}

.header__date-container__month-container {
    margin: auto;
    height: 50px;
    width: 100px;
    display: flex;
    border-radius: 5px;
    border: 1px solid black;
    background-color: gainsboro;
    margin: auto;
}

.header__settings-container {
    height: 100%;
    width: 20%;
    display: flex;
}

.header__settings-container .settings {
    margin: auto;
}

.switch {
    position: relative;
    display: inline-block;
    margin: auto;
    width: 60px;
    height: 50px;
    margin-right: 60px;
}

.switch .toggle-button {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 50px;
    margin: 0;
    vertical-align: top;
    background: #ffffff;
    border: 1px solid #bbc1e1;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.switch .toggle-button::after {
    content: "";

    display: inline-block;
    position: absolute;
    left: 3px;
    top: 1.5px;

    width: 45px;
    height: 45px;
    background-color: gainsboro;
    border-radius: 50%;

    transform: translateX(0);
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.switch .toggle-button:checked {
    background-color: gainsboro;
}

.switch .toggle-button:checked::after {
    transform: translateX(calc(100% + 3px));
    background-color: #fff;
}

.user-container {
    width: 20%;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    border-top: 1px black solid;
}

.user-container__avatar-container {
    margin: auto;
    height: 20%;
    display: flex;
}

.user-container__avatar-container #user-avatar {
    margin: auto;
    width: 100px;
    height: 100px;
    border: 1px black solid;
    background-color: white;
    border-radius: 50%;
}

.user-container__user-challenges-container {
    margin: auto;
    height: 65%;
    width: 100%;
    display: flex;
}

.user-container__user-challenges-container__user-chalenges {
    width: 80%;
    height: 100%;
    background-color: white;
    border: 1px black solid;
    border-radius: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
}


.challenge {
    border: 1px black solid;
    width: 95%;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 6px;
    cursor: pointer;
}

.task {
    color: white;
    background-color: #555b6e;
}

.event {
    background-color: #89b0ae;
}

.reminder {
    background-color: #bee3db;
}

.user-container__button-container {
    margin: auto;
    height: 15%;
    display: flex;
}

.calendar-container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    border: 1px black solid;
}

.calendar-container__days {
    width: 100%;
    height: 100%;
}

.day-names{
    width: 100%;
    height: 7%;
    background-color: wheat;
}

.day-names__day{
    border: 1px black solid;
    width: calc(100% / 7);
}

.day-values{
    width: 100%;
    height: 93%;
}

.day-values__week {
    height: 20%;
    width: 100%;
}

.day-values__week__day {
    width: calc(100%/7);
    border: 1px black solid;
    cursor: pointer;
}

.day-values__week__day__day-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.day-values__week__day__day-info__day-num {
    height: 15%;
    font-weight: bold;
    font-size: 25px;
}

.day-values__week__day__day-info__day-tasks{
    height: 85%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

p {
    margin: auto;
}

@media screen and (max-width: 1200px) {
    .wide-btn {
        width: 100px;
        height: 50px;
    }

    .header__button-container{
        width: 10%;
    }

    .header__logo-container{
        width: 15%;
    }

    .header__date-container {
        width: 40%;
    }

    .header__settings-container{
        width: 35%;
    }
}

@media screen and (max-height: 750px) {
    .day-values__week__day__day-info__day-tasks{
        display: none;
    }
}

@media screen and (max-width: 750px) {
    header {
        height: 10vh;
    }


    main {
        height: 90vh;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header__logo-container{
        display: none;
    }

    .user-container {
        display: none;
    }

    .calendar-container{
        width: 100%;
    }
}